<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Page</title>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        body{
            padding-top: 300px;
            background-color: powderblue;
        }
        .form-signUp{
            margin: 0 auto;
            max-width: 400px;
            background-color: white;
            padding: 15px;
        }
        .form-signUp h2{
            text-align: center;
        }
    </style>
</head>
<body>

<!--<div class="row ml-5 pl-5 mt-5">
    <div style="margin-bottom: -23px;font-weight: 900;font-size: 26px;margin-left: 68px;background-color: #60e004">
        <label data-th-text="#{label.title.register}"> text </label>
    </div>
</div>-->
<!--<div class = "row">
    <div class="col-md-10 mt-5 mb-5" style="display: flex;justify-content: center;margin-left: 100px;">


        <form th:action="@{/save}" th:object="${employee}" method="post" class="form-horizontal">
            <div style="position:absolute; right:50px;top: 560px;">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>-->

    <div class="container">
        <form class="form-signUp">
            <h2> Sign Up</h2>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="First Name" required />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Last Name" required />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" required />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" required />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>